## Reading in data and MAJOR CLEANING

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime as dt
import pickle

In [2]:
# Read in csv
df = pd.read_csv("Resources/Animal_Shelter_Louisville.csv")
df.head(10)

,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,SecondaryColor,...,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome
0,A366370,CAT,7/11/2008 10:50,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,BROWN,...,FEARFUL,HEALTHY,ALTERED,12/11/2008 15:46,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED
1,A366531,CAT,10/11/2008 10:20,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,NaN,...,NORMAL,HEALTHY,UNKNOWN,19/11/2008 20:10,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN
2,A532367,BIRD,23/7/2014 23:21,CONFISCATE,CRUELTY,RED,CHICKEN,NaN,MALE,BLACK,...,OTHER,HEALTHY,FERTILE,5/11/2014 15:49,TRANSFER,NaN,NaN,NaN,HEALTHY,FERTILE
3,A532474,OTHER,24/7/2014 18:29,ET REQUEST,NaN,BROWN,BAT,NaN,UNKNOWN,NaN,...,OTHER,HEALTHY,UNKNOWN,24/7/2014 23:59,EUTH,MEDICAL,NaN,OTHER,HEALTHY,UNKNOWN
4,A281756,DOG,11/9/2006 18:10,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,BROWN,...,NORMAL,HEALTHY,FERTILE,12/9/2006 13:44,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE
5,A451184,BIRD,29/1/2012 15:25,OWNER SUR,FIELD,BLACK,CHICKEN,NaN,UNKNOWN,WHITE,...,NORMAL,HEALTHY,UNKNOWN,22/2/2012 23:59,TRANSFER,RESCUE GRP,NaN,NORMAL,HEALTHY,UNKNOWN
6,A256128,DOG,26/11/2005 12:35,STRAY,FIELD,BROWN,AMERICAN PIT BULL TERRIER,MIX,MALE,WHITE,...,NORMAL,HEALTHY,FERTILE,8/12/2005 23:59,EUTH,MEDICAL,NaN,NaN,HEALTHY,FERTILE
7,A314432,CAT,15/6/2007 17:13,OWNER SUR,OTC,BROWN TABBY,DOMESTIC SHORTHAIR,NaN,UNKNOWN,NaN,...,NORMAL,HEALTHY,UNKNOWN,15/6/2007 18:07,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,UNKNOWN
8,A316619,DOG,29/6/2007 20:10,STRAY,FIELD,WHITE,LABRADOR RETRIEVER,MIX,MALE,TAN,...,FEARFUL,HEALTHY,FERTILE,4/7/2007 13:12,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE
9,A317335,CAT,5/7/2007 21:30,STRAY,OTC,GRAY,DOMESTIC SHORTHAIR,NaN,UNKNOWN,NaN,...,NORMAL,HEALTHY,UNKNOWN,11/7/2007 9:19,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,UNKNOWN

In [3]:
# Check for nulls
df.isna().sum()

AnimalID                            0
AnimalType                          0
IntakeDate                          0
IntakeType                          0
IntakeSubtype                    4556
PrimaryColor                       17
PrimaryBreed                        0
SecondaryBreed                 110310
Gender                              0
SecondaryColor                  70263
DOB                             56224
IntakeReason                   116037
IntakeInternalStatus                0
IntakeAsilomarStatus                0
ReproductiveStatusAtIntake          0
OutcomeDate                       202
OutcomeType                       452
OutcomeSubtype                  26982
OutcomeReason                  150842
OutcomeInternalStatus          101121
OutcomeAsilomarStatus             202
ReproductiveStatusAtOutcome       202
dtype: int64

In [4]:
df.columns

Index(['AnimalID', 'AnimalType', 'IntakeDate', 'IntakeType', 'IntakeSubtype',
       'PrimaryColor', 'PrimaryBreed', 'SecondaryBreed', 'Gender',
       'SecondaryColor', 'DOB', 'IntakeReason', 'IntakeInternalStatus',
       'IntakeAsilomarStatus', 'ReproductiveStatusAtIntake', 'OutcomeDate',
       'OutcomeType', 'OutcomeSubtype', 'OutcomeReason',
       'OutcomeInternalStatus', 'OutcomeAsilomarStatus',
       'ReproductiveStatusAtOutcome'],
      dtype='object')

In [5]:
# Drop unnecessary columns
df2 = df.drop(columns=['AnimalID',
                       'IntakeType', 
                       'IntakeSubtype', 
                       'OutcomeSubtype',
                      'SecondaryColor',
                       'IntakeReason',
                      'ReproductiveStatusAtOutcome',
                       'OutcomeReason',
                      'OutcomeInternalStatus',
                      'OutcomeAsilomarStatus'])

In [6]:
df2.head()

,AnimalType,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType
0,CAT,7/11/2008 10:50,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,NaN,FEARFUL,HEALTHY,ALTERED,12/11/2008 15:46,EUTH
1,CAT,10/11/2008 10:20,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,NaN,NORMAL,HEALTHY,UNKNOWN,19/11/2008 20:10,EUTH
2,BIRD,23/7/2014 23:21,RED,CHICKEN,NaN,MALE,NaN,OTHER,HEALTHY,FERTILE,5/11/2014 15:49,TRANSFER
3,OTHER,24/7/2014 18:29,BROWN,BAT,NaN,UNKNOWN,NaN,OTHER,HEALTHY,UNKNOWN,24/7/2014 23:59,EUTH
4,DOG,11/9/2006 18:10,WHITE,PIT BULL TERRIER,NaN,MALE,11/9/2005 0:00,NORMAL,HEALTHY,FERTILE,12/9/2006 13:44,EUTH

In [7]:
# Change object to datetime so we can calculate AgeInMonth and DurationInShelter
df2["IntakeDate"] = pd.to_datetime(df2["IntakeDate"])
df2["DOB"] = pd.to_datetime(df2["DOB"])
df2["OutcomeDate"] = pd.to_datetime(df2["OutcomeDate"])

In [8]:
df2.dtypes

AnimalType                            object
IntakeDate                    datetime64[ns]
PrimaryColor                          object
PrimaryBreed                          object
SecondaryBreed                        object
Gender                                object
DOB                           datetime64[ns]
IntakeInternalStatus                  object
IntakeAsilomarStatus                  object
ReproductiveStatusAtIntake            object
OutcomeDate                   datetime64[ns]
OutcomeType                           object
dtype: object

In [9]:
df2.head()

,AnimalType,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType
0,CAT,2008-07-11 10:50:00,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,NaT,FEARFUL,HEALTHY,ALTERED,2008-12-11 15:46:00,EUTH
1,CAT,2008-10-11 10:20:00,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,NaT,NORMAL,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH
2,BIRD,2014-07-23 23:21:00,RED,CHICKEN,NaN,MALE,NaT,OTHER,HEALTHY,FERTILE,2014-05-11 15:49:00,TRANSFER
3,OTHER,2014-07-24 18:29:00,BROWN,BAT,NaN,UNKNOWN,NaT,OTHER,HEALTHY,UNKNOWN,2014-07-24 23:59:00,EUTH
4,DOG,2006-11-09 18:10:00,WHITE,PIT BULL TERRIER,NaN,MALE,2005-11-09,NORMAL,HEALTHY,FERTILE,2006-12-09 13:44:00,EUTH

In [10]:
df2.groupby("AnimalType").count()

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType
AnimalType,,,,,,,,,,,
BIRD,1185,1185,1185,69,1185,310,1185,1185,1185,1185,1176
CAT,68741,68738,68741,2658,68741,39386,68741,68741,68741,68680,68563
DOG,77145,77131,77145,37715,77145,53709,77145,77145,77145,77008,76905
FERRET,91,91,91,0,91,51,91,91,91,91,91
LIVESTOCK,256,256,256,28,256,109,256,256,256,254,253
OTHER,1341,1341,1341,2,1341,292,1341,1341,1341,1340,1322
RABBIT,1139,1139,1139,30,1139,436,1139,1139,1139,1138,1138
REPTILE,263,263,263,26,263,86,263,263,263,263,262
RODENT,681,681,681,4,681,239,681,681,681,681,680

In [11]:
# Drop all rows NOT dog!
df3 = df2.drop(df2[(df2['AnimalType'] == "BIRD") | 
                   (df2['AnimalType'] == "CAT") |
                   (df2['AnimalType'] == "FERRET") |
                   (df2['AnimalType'] == "LIVESTOCK") |
                   (df2['AnimalType'] == "OTHER") |
                   (df2['AnimalType'] == "RABBIT") |
                   (df2['AnimalType'] == "REPTILE") |
                   (df2['AnimalType'] == "RODENT")].index)

In [12]:
df3.groupby("AnimalType").count()

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType
AnimalType,,,,,,,,,,,
DOG,77145,77131,77145,37715,77145,53709,77145,77145,77145,77008,76905

## Cleaning WITHIN dog
1. Drop unnessary columns
2. Drop rows where "Outcome_Type" is null
3. Drop rows where "Outcome_Type" is Return_To_Owner

In [13]:
# Found dog data, drop AnimalType column
df3 = df3.drop(columns=['AnimalType'])

In [14]:
# Quick check for missing values
# Solution - Going to drop NA in OutcomeType first, then work on others.  We will NOT drop Secondary breed until we
#            create Kelly's 3 BreedCategory column.
df3.isna().sum()

IntakeDate                        0
PrimaryColor                     14
PrimaryBreed                      0
SecondaryBreed                39430
Gender                            0
DOB                           23436
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeDate                     137
OutcomeType                     240
dtype: int64

In [15]:
df3.columns

Index(['IntakeDate', 'PrimaryColor', 'PrimaryBreed', 'SecondaryBreed',
       'Gender', 'DOB', 'IntakeInternalStatus', 'IntakeAsilomarStatus',
       'ReproductiveStatusAtIntake', 'OutcomeDate', 'OutcomeType'],
      dtype='object')

In [16]:
# Drop rows where OutcomeType is null

df3 = df3.loc[df3.OutcomeType.notna(), ["IntakeDate", 
                                        'PrimaryColor',
                                        "PrimaryBreed", 
                                        "SecondaryBreed", 
                                        "Gender",
                                        'DOB',
                                        "IntakeInternalStatus", 
                                        'IntakeAsilomarStatus', 
                                        'ReproductiveStatusAtIntake', 
                                        'OutcomeDate',
                                        'OutcomeType']]

In [17]:
df3.shape

(76905, 11)

In [18]:
# Check for more nulls

# df3.apply(lambda x: sum(x.isnull()/len(df3)))
df3.isna().sum()

IntakeDate                        0
PrimaryColor                     14
PrimaryBreed                      0
SecondaryBreed                39296
Gender                            0
DOB                           23414
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeDate                       6
OutcomeType                       0
dtype: int64

In [19]:
# # df2.groupby('OutcomeType').count()
# df2.groupby('Color').count().sort_values('OutcomeType', ascending=False)
df3.groupby('OutcomeType').count()

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate
OutcomeType,,,,,,,,,,
ADOPTION,15368,15366,15368,9060,15368,13675,15368,15368,15368,15368
DIED,716,716,716,346,716,327,716,716,716,716
DISPOSAL,1127,1127,1127,360,1127,968,1127,1127,1127,1127
ET PROCESS,30,30,30,17,30,8,30,30,30,30
EUTH,30088,30079,30088,14527,30088,14610,30088,30088,30088,30087
FOSTER,1032,1032,1032,491,1032,998,1032,1032,1032,1030
INDEFINITE,1,1,1,1,1,0,1,1,1,1
MISSING,501,501,501,301,501,225,501,501,501,501
MISSING EX,2,2,2,1,2,2,2,2,2,2
NO SHOW,34,34,34,6,34,22,34,34,34,34
RELEASE,5,5,5,0,5,5,5,5,5,5
RELEASED,2623,2623,2623,949,2623,2268,2623,2623,2623,2623
RELOCATE,55,55,55,20,55,11,55,55,55,55
RTF,5,5,5,3,5,4,5,5,5,5
RTO,13195,13193,13195,5445,13195,10656,13195,13195,13195,13192
TRANSFER,10563,10562,10563,5163,10563,8154,10563,10563,10563,10563
TRANSPORT,1560,1560,1560,919,1560,1558,1560,1560,1560,1560

In [20]:
# Drop all rows 'RTO'. Assuming that chip is checked at intake

df3 = df3.drop(df3[df3.OutcomeType == "RTO"].index)

In [21]:
df3.shape

(63710, 11)

In [22]:
# More nulls?  Keeping secondary breed for now
# df3.apply(lambda x: sum(x.isnull()/len(df3)))
df3.isna().sum()

IntakeDate                        0
PrimaryColor                     12
PrimaryBreed                      0
SecondaryBreed                31546
Gender                            0
DOB                           20875
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeDate                       3
OutcomeType                       0
dtype: int64

In [23]:
df3.loc[df3['DOB'].isna()]

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType
6,2005-11-26 12:35:00,BROWN,AMERICAN PIT BULL TERRIER,MIX,MALE,NaT,NORMAL,HEALTHY,FERTILE,2005-08-12 23:59:00,EUTH
8,2007-06-29 20:10:00,WHITE,LABRADOR RETRIEVER,MIX,MALE,NaT,FEARFUL,HEALTHY,FERTILE,2007-04-07 13:12:00,EUTH
15,2007-07-19 22:32:00,TRICOLOR,BEAGLE,MIX,NEUTERED MALE,NaT,NORMAL,HEALTHY,ALTERED,2007-07-08 12:13:00,EUTH
17,2005-12-21 14:30:00,WHITE,PIT BULL TERRIER,NaN,MALE,NaT,NORMAL,HEALTHY,FERTILE,2005-12-29 11:05:00,EUTH
18,2005-12-22 12:23:00,BROWN BRINDLE,AMERICAN PIT BULL TERRIER,AMERICAN PIT BULL TERRIER,MALE,NaT,NORMAL,HEALTHY,FERTILE,2005-12-28 10:35:00,EUTH
...,...,...,...,...,...,...,...,...,...,...,...
150756,2009-05-12 12:58:00,TRICOLOR,POMERANIAN,NaN,SPAYED FEMALE,NaT,NORMAL,HEALTHY,FERTILE,2009-12-18 10:05:00,ADOPTION
150759,2011-03-17 23:22:00,WHITE,JACK RUSS TER,MIX,NEUTERED MALE,NaT,NORMAL,HEALTHY,FERTILE,2011-07-05 23:59:00,TRANSFER
150760,2010-03-28 14:50:00,BROWN,POMERANIAN,PAPILLON,SPAYED FEMALE,NaT,NORMAL,HEALTHY,FERTILE,2010-12-04 17:09:00,ADOPTION
150797,2009-11-24 09:37:00,TRICOLOR,BEAGLE,NaN,SPAYED FEMALE,NaT,EMACIATED,HEALTHY,FERTILE,2010-12-02 18:57:00,ADOPTION
150823,2010-09-01 19:51:00,TAN,GERMAN SHEPHERD DOG,NaN,NEUTERED MALE,NaT,NORMAL,HEALTHY,FERTILE,2010-01-25 15:06:00,ADOPTION

In [26]:
# Drop NA values in DOB (can't have nulls to calculate AgeInMonths)
df3 = df3.dropna(axis=0, subset=["DOB", 'PrimaryColor', 'OutcomeDate'])
df3.shape

(42822, 11)

In [27]:
df3.isna().sum()

IntakeDate                        0
PrimaryColor                      0
PrimaryBreed                      0
SecondaryBreed                20998
Gender                            0
DOB                               0
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeDate                       0
OutcomeType                       0
dtype: int64

In [28]:
# Create AgeInMonth column 
df3['AgeInMonths'] = round(((df3['IntakeDate'] - df3['DOB']).dt.days)/30, 2)
df3.head()

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,AgeInMonths
4,2006-11-09 18:10:00,WHITE,PIT BULL TERRIER,NaN,MALE,2005-11-09,NORMAL,HEALTHY,FERTILE,2006-12-09 13:44:00,EUTH,12.17
51,2008-05-21 10:24:00,BLACK,BORDER COLLIE,MIX,SPAYED FEMALE,2007-07-21,NORMAL,HEALTHY,ALTERED,2008-09-06 14:15:00,ADOPTION,10.17
69,2005-02-18 11:37:00,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,2003-03-18,NORMAL,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,23.43
99,2007-06-11 19:54:00,WHITE,LABRADOR RETRIEVER,NaN,SPAYED FEMALE,2007-06-06,NORMAL,HEALTHY,ALTERED,2007-12-12 10:31:00,ADOPTION,0.17
103,2009-09-02 17:11:00,BLACK,PIT BULL TERRIER,NaN,MALE,2008-09-10,SICK,HEALTHY,FERTILE,2009-09-02 23:59:00,EUTH,11.90

In [29]:
# Create DurationInShelter column
df3['DurationInShelter'] = round(((df3['OutcomeDate'] - df3['IntakeDate']).dt.days), 2)
df3.head()

,IntakeDate,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,DOB,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,AgeInMonths,DurationInShelter
4,2006-11-09 18:10:00,WHITE,PIT BULL TERRIER,NaN,MALE,2005-11-09,NORMAL,HEALTHY,FERTILE,2006-12-09 13:44:00,EUTH,12.17,29
51,2008-05-21 10:24:00,BLACK,BORDER COLLIE,MIX,SPAYED FEMALE,2007-07-21,NORMAL,HEALTHY,ALTERED,2008-09-06 14:15:00,ADOPTION,10.17,108
69,2005-02-18 11:37:00,TAN,GOLDEN RETRIEVER,MIX,NEUTERED MALE,2003-03-18,NORMAL,HEALTHY,ALTERED,2005-04-15 15:03:00,ADOPTION,23.43,56
99,2007-06-11 19:54:00,WHITE,LABRADOR RETRIEVER,NaN,SPAYED FEMALE,2007-06-06,NORMAL,HEALTHY,ALTERED,2007-12-12 10:31:00,ADOPTION,0.17,183
103,2009-09-02 17:11:00,BLACK,PIT BULL TERRIER,NaN,MALE,2008-09-10,SICK,HEALTHY,FERTILE,2009-09-02 23:59:00,EUTH,11.90,0

In [30]:
df4 = df3.drop(columns=['IntakeDate',
                       'DOB', 
                       'OutcomeDate'])

In [31]:
# More nulls?  Keeping secondary breed for now
df4.isna().sum()

PrimaryColor                      0
PrimaryBreed                      0
SecondaryBreed                20998
Gender                            0
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeType                       0
AgeInMonths                       0
DurationInShelter                 0
dtype: int64

In [32]:
df4.shape

(42822, 10)

## Add new features? Feature Engineering
1. New feature BreedCategory column - Mixed/Two/Pure Breed  
2. New feature InternalStatus column - Grouping "IntakeInternalStatus" eg. grouping all aggressive into 1 main agg group
3. Creating PetAgeCategory column - Baby/Young/Adult/Senior
4. Creating Sex column - Male/Female (With no internal status)
5. Creating TopBreeds column - Grouping same breeds and taking top 25
6. Grouping colors

#### Feature Engineering 1 - Creating a BreedCategory column
* 0 = Breed has the word "Mix"
* 1 = If there are 2 breeds listed
* 2 = Only 1 breed in the primary (i.e. None in secondary OR Pure)

In [33]:
df4.loc[500:1000, :]

,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter
517,BROWN,PIT BULL TERRIER,NaN,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,0.57,20
520,BLACK,BEAGLE,NaN,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,MISSING,6.37,85
541,BROWN,GERMAN SHEPHERD DOG,MIX,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,2.03,5
600,BROWN BRINDLE,PIT BULL TERRIER,MIX,MALE,NORMAL,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,24.33,0
656,BLACK,LABRADOR RETRIEVER,CHOW CHOW,MALE,NORMAL,HEALTHY,FERTILE,EUTH,24.33,7
683,WHITE,JACK RUSS TER,RAT TERRIER,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,12.17,-55
755,BLACK,PUG,MIX,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,1
813,BROWN,PIT BULL TERRIER,NaN,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,RELEASED,10.13,0
849,WHITE,AMERICAN PIT BULL TERRIER,NaN,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,12.10,-172
870,BROWN,PIT BULL TERRIER,NaN,MALE,NURSING,HEALTHY,FERTILE,TRANSFER,0.00,77
887,BLACK,LABRADOR RETRIEVER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,18.23,3
928,CHOCOLATE,MANCHESTER TERRIER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,4.07,99

In [34]:
df4.isna().sum()

PrimaryColor                      0
PrimaryBreed                      0
SecondaryBreed                20998
Gender                            0
IntakeInternalStatus              0
IntakeAsilomarStatus              0
ReproductiveStatusAtIntake        0
OutcomeType                       0
AgeInMonths                       0
DurationInShelter                 0
dtype: int64

In [35]:
# df3.SecondaryBreed.value_counts().sort_values(ascending=False).head(20)
# df3.SecondaryBreed.count()

In [36]:
# Add new column called BreedCategory, set all to Mix

df4["BreedCategory"]= "TWO"
df4.loc[500:1000, :]

,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
517,BROWN,PIT BULL TERRIER,NaN,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,0.57,20,TWO
520,BLACK,BEAGLE,NaN,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,MISSING,6.37,85,TWO
541,BROWN,GERMAN SHEPHERD DOG,MIX,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,2.03,5,TWO
600,BROWN BRINDLE,PIT BULL TERRIER,MIX,MALE,NORMAL,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,24.33,0,TWO
656,BLACK,LABRADOR RETRIEVER,CHOW CHOW,MALE,NORMAL,HEALTHY,FERTILE,EUTH,24.33,7,TWO
683,WHITE,JACK RUSS TER,RAT TERRIER,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,12.17,-55,TWO
755,BLACK,PUG,MIX,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,1,TWO
813,BROWN,PIT BULL TERRIER,NaN,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,RELEASED,10.13,0,TWO
849,WHITE,AMERICAN PIT BULL TERRIER,NaN,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,12.10,-172,TWO
870,BROWN,PIT BULL TERRIER,NaN,MALE,NURSING,HEALTHY,FERTILE,TRANSFER,0.00,77,TWO
887,BLACK,LABRADOR RETRIEVER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,18.23,3,TWO
928,CHOCOLATE,MANCHESTER TERRIER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,4.07,99,TWO

In [37]:
# Find rows containing word "Nan" in SecondaryBreed and set to Pure

df4.loc[df4['SecondaryBreed'].isnull(),'BreedCategory'] = "PURE"
df4.loc[500:1000, :]

,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
517,BROWN,PIT BULL TERRIER,NaN,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,0.57,20,PURE
520,BLACK,BEAGLE,NaN,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,MISSING,6.37,85,PURE
541,BROWN,GERMAN SHEPHERD DOG,MIX,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,2.03,5,TWO
600,BROWN BRINDLE,PIT BULL TERRIER,MIX,MALE,NORMAL,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,24.33,0,TWO
656,BLACK,LABRADOR RETRIEVER,CHOW CHOW,MALE,NORMAL,HEALTHY,FERTILE,EUTH,24.33,7,TWO
683,WHITE,JACK RUSS TER,RAT TERRIER,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,12.17,-55,TWO
755,BLACK,PUG,MIX,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,1,TWO
813,BROWN,PIT BULL TERRIER,NaN,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,RELEASED,10.13,0,PURE
849,WHITE,AMERICAN PIT BULL TERRIER,NaN,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,12.10,-172,PURE
870,BROWN,PIT BULL TERRIER,NaN,MALE,NURSING,HEALTHY,FERTILE,TRANSFER,0.00,77,PURE
887,BLACK,LABRADOR RETRIEVER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,18.23,3,TWO
928,CHOCOLATE,MANCHESTER TERRIER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,4.07,99,TWO

In [38]:
# Find rows containing word "Mix"
df4.loc[df4["SecondaryBreed"].str.contains("MIX",  na=False), "BreedCategory"] = "MIX"
df4.loc[500:1000, :]

,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
517,BROWN,PIT BULL TERRIER,NaN,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,0.57,20,PURE
520,BLACK,BEAGLE,NaN,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,MISSING,6.37,85,PURE
541,BROWN,GERMAN SHEPHERD DOG,MIX,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,2.03,5,MIX
600,BROWN BRINDLE,PIT BULL TERRIER,MIX,MALE,NORMAL,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,24.33,0,MIX
656,BLACK,LABRADOR RETRIEVER,CHOW CHOW,MALE,NORMAL,HEALTHY,FERTILE,EUTH,24.33,7,TWO
683,WHITE,JACK RUSS TER,RAT TERRIER,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,12.17,-55,TWO
755,BLACK,PUG,MIX,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,1,MIX
813,BROWN,PIT BULL TERRIER,NaN,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,RELEASED,10.13,0,PURE
849,WHITE,AMERICAN PIT BULL TERRIER,NaN,FEMALE,NORMAL,HEALTHY,FERTILE,EUTH,12.10,-172,PURE
870,BROWN,PIT BULL TERRIER,NaN,MALE,NURSING,HEALTHY,FERTILE,TRANSFER,0.00,77,PURE
887,BLACK,LABRADOR RETRIEVER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,18.23,3,MIX
928,CHOCOLATE,MANCHESTER TERRIER,MIX,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,4.07,99,MIX

In [39]:
# Drop SeondaryBreed column since BreedCategory is available
df4 = df4.drop(columns=['SecondaryBreed'])
df4.shape

(42822, 10)

In [40]:
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE

In [41]:
df4.isna().sum()

PrimaryColor                  0
PrimaryBreed                  0
Gender                        0
IntakeInternalStatus          0
IntakeAsilomarStatus          0
ReproductiveStatusAtIntake    0
OutcomeType                   0
AgeInMonths                   0
DurationInShelter             0
BreedCategory                 0
dtype: int64

### Feature Engineering 2 -  Grouping similar states in "IntakeInternalStatus" column
* From 25 subcategories to 5

In [42]:
df4.groupby('IntakeInternalStatus').count()

,PrimaryColor,PrimaryBreed,Gender,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
IntakeInternalStatus,,,,,,,,,
AGED,2637,2637,2637,2637,2637,2637,2637,2637,2637
AGG ANIMAL,67,67,67,67,67,67,67,67,67
AGG BARRIE,4,4,4,4,4,4,4,4,4
AGG FEAR,34,34,34,34,34,34,34,34,34
AGG FOOD,5,5,5,5,5,5,5,5,5
AGG PEOPLE,131,131,131,131,131,131,131,131,131
AGGRESSIVE,1533,1533,1533,1533,1533,1533,1533,1533,1533
DEAD,1097,1097,1097,1097,1097,1097,1097,1097,1097
DEHYDRA,9,9,9,9,9,9,9,9,9
DIARRHEA,2,2,2,2,2,2,2,2,2
EMACIATED,518,518,518,518,518,518,518,518,518
FEARFUL,1778,1778,1778,1778,1778,1778,1778,1778,1778
FERAL,8,8,8,8,8,8,8,8,8
HEARTWORM,85,85,85,85,85,85,85,85,85
INJURED,1571,1571,1571,1571,1571,1571,1571,1571,1571
NORMAL,28451,28451,28451,28451,28451,28451,28451,28451,28451
NURSING,768,768,768,768,768,768,768,768,768
OBESE,64,64,64,64,64,64,64,64,64
OTHER,1614,1614,1614,1614,1614,1614,1614,1614,1614
PARVO,171,171,171,171,171,171,171,171,171
PREGNANT,106,106,106,106,106,106,106,106,106
RINGWORM,10,10,10,10,10,10,10,10,10
SICK,2132,2132,2132,2132,2132,2132,2132,2132,2132
TERITORIAL,27,27,27,27,27,27,27,27,27

In [43]:
# df5.groupby("IntakeInternalStatus").count()
# df5.IntakeInternalStatus.value_counts().to_dict()

df4['IntakeStatus'] = "SICK"

In [44]:
# Group all AGG together
df4.loc[df4["IntakeInternalStatus"].str.contains("AGG"), "IntakeStatus"] = "AGGRESSIVE"

In [45]:
# Group all Normal together
df4.loc[df4["IntakeInternalStatus"].str.contains("NORMAL"), "IntakeStatus"] = "NORMAL"

In [46]:
df4.loc[df4["IntakeInternalStatus"] == "NORMAL"]

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL
106,WHITE,ST BERNARD - SMOOTH COATED,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,3.03,5,MIX,NORMAL
...,...,...,...,...,...,...,...,...,...,...,...
150835,APRICOT,DANDIE DINMONT TERRIER,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,109,MIX,NORMAL
150836,BLACK,DACHSHUND - WIREHAIRED,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,71,PURE,NORMAL
150837,YELLOW BRINDLE,GREYHOUND,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,24.13,140,MIX,NORMAL
150838,CREAM,CAIRN TERRIER,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,7.07,7,PURE,NORMAL
150839,BLACK,MINIATURE PINSCHER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,51.30,8,PURE,NORMAL

In [47]:
# Add these to Aggresive
df4.loc[df4["IntakeInternalStatus"].str.contains("TERITORIAL"), "IntakeStatus"] = "AGGRESSIVE"
df4.loc[df4["IntakeInternalStatus"].str.contains("FERAL"), "IntakeStatus"] = "AGGRESSIVE"
df4.loc[df4["IntakeInternalStatus"].str.contains("FEARFUL"), "IntakeStatus"] = "AGGRESSIVE"

# Group these to Pregnant
df4.loc[df4["IntakeInternalStatus"].str.contains("NURSING"), "IntakeStatus"] = "PREGNANT"
df4.loc[df4["IntakeInternalStatus"].str.contains("PREGNANT"), "IntakeStatus"] = "PREGNANT"

# Group these to Other
df4.loc[df4["IntakeInternalStatus"].str.contains("AGED"), "IntakeStatus"] = "OTHER"
df4.loc[df4["IntakeInternalStatus"].str.contains("DEAD"), "IntakeStatus"] = "OTHER"
df4.loc[df4["IntakeInternalStatus"].str.contains("OTHER"), "IntakeStatus"] = "OTHER"
df4.loc[df4["IntakeInternalStatus"].str.contains("OBESE"), "IntakeStatus"] = "OTHER"

In [48]:
df4.groupby('IntakeStatus').count()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory
IntakeStatus,,,,,,,,,,
AGGRESSIVE,3587,3587,3587,3587,3587,3587,3587,3587,3587,3587
NORMAL,28451,28451,28451,28451,28451,28451,28451,28451,28451,28451
OTHER,5412,5412,5412,5412,5412,5412,5412,5412,5412,5412
PREGNANT,874,874,874,874,874,874,874,874,874,874
SICK,4498,4498,4498,4498,4498,4498,4498,4498,4498,4498

In [49]:
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK

### Feature Engineering 3 - Creating age categories
* Baby: <=6months
* Young: 7months-24 months
* Adult: 2 years-7years
* Senior: 7+

In [50]:
df4['PetAgeCategory'] = pd.cut(x=df4['AgeInMonths'], bins=[0, 6, 24, 84, 240], labels=['BABY', 'YOUNG', 'ADULT', 'SENIOR'])

In [51]:
df4.head(10)

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG
106,WHITE,ST BERNARD - SMOOTH COATED,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,3.03,5,MIX,NORMAL,BABY
209,BROWN,PIT BULL TERRIER,FEMALE,AGED,TREATABLE/MANAGEABLE,FERTILE,EUTH,109.57,8,PURE,OTHER,SENIOR
223,BROWN,WIRE-HAIRED POINTING GRIFFON,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,11.87,60,MIX,NORMAL,YOUNG
227,BLACK,BEAGLE,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,0,MIX,AGGRESSIVE,YOUNG
247,BROWN BRINDLE,PLOTT HOUND,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,FOSTER,25.83,154,MIX,NORMAL,ADULT

### Feature Engineering 4 - Sex column

In [52]:
# Split gender because ReproductiveStatusAtIntake is similar to Gender
df4["Sex"] = "MALE"

In [53]:
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG,MALE
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG,MALE
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG,MALE
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY,MALE
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG,MALE

In [54]:
# Find rows containing word "FEMALE" and set to Female
df4.loc[df4["Gender"].str.contains("FEMALE"), "Sex"] = "FEMALE"

In [55]:
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG,MALE
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG,FEMALE
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG,MALE
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY,FEMALE
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG,MALE

### Feature Enginering 5 - Grouping same name breed and taking the top 25.

In [56]:
# Grouping different name breeds for the same dog/breed. Taking top breeds (Top 25 breed account about 79%)

breed_counts = df4['PrimaryBreed'].value_counts()
breed_counts.head(30)

PIT BULL TERRIER                  7669
LABRADOR RETRIEVER                5080
BEAGLE                            2966
GERMAN SHEPHERD DOG               2897
CHIHUAHUA - SMOOTH COATED         1885
BOXER                             1698
SHIH TZU                          1119
ROTTWEILER                        1108
BORDER COLLIE                      916
JACK RUSS TER                      915
CHOW CHOW                          909
AMERICAN PIT BULL TERRIER          629
POODLE - MINIATURE                 612
YORKSHIRE TERRIER                  605
DACHSHUND                          553
AUSTRALIAN SHEPHERD                515
SIBERIAN HUSKY                     509
POMERANIAN                         496
COCKER SPANIEL                     439
PUG                                438
MINIATURE PINSCHER                 422
GOLDEN RETRIEVER                   417
AUSTRALIAN CATTLE DOG              364
SCHNAUZER - MINIATURE              347
AMERICAN BULLDOG                   338
RAT TERRIER                        321
BASSET HOUND                       316
AMERICAN STAFFORDSHIRE TERRIER     294
PARSON (JACK) RUSSELL TERRIER      278
CHIHUAHUA - LONG HAIRED            261
Name: PrimaryBreed, dtype: int64

In [57]:
df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER'), 
                                                                                            'PrimaryBreed'].str.replace('AMERICAN STAFFORDSHIRE TERRIER', 'STAFFORDSHIRE')

In [58]:
df4.loc[df4['PrimaryBreed'].str.contains('STAFFORDSHIRE'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('STAFFORDSHIRE'), 
                                                    'PrimaryBreed'].str.replace('STAFFORDSHIRE', 'AMERICAN STAFFORDSHIRE TERRIER')

In [59]:
df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER BULL TERRIER'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN STAFFORDSHIRE TERRIER BULL TERRIER'), 
                                                                                                                  'PrimaryBreed'].str.replace('AMERICAN STAFFORDSHIRE TERRIER BULL TERRIER', 'AMERICAN STAFFORDSHIRE TERRIER')

In [60]:

df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN PIT BULL TERRIER'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('AMERICAN PIT BULL TERRIER'), 
                                                                                                'PrimaryBreed'].str.replace('AMERICAN PIT BULL TERRIER', 'PIT BULL TERRIER')

In [61]:
df4.loc[df4['PrimaryBreed'].str.contains('QUEENSLAND HEELER'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('QUEENSLAND HEELER'), 'PrimaryBreed'].str.replace('QUEENSLAND HEELER', 'AUSTRALIAN CATTLE DOG')

In [62]:

df4.loc[df4['PrimaryBreed'].str.contains('CHIHUAHUA - SMOOTH COATED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('CHIHUAHUA - SMOOTH COATED'), 'PrimaryBreed'].str.replace('CHIHUAHUA - SMOOTH COATED', 'CHIHUAHUA')
df4.loc[df4['PrimaryBreed'].str.contains('CHIHUAHUA - LONG HAIRED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('CHIHUAHUA - LONG HAIRED'), 'PrimaryBreed'].str.replace('CHIHUAHUA - LONG HAIRED', 'CHIHUAHUA')

In [63]:
df4.loc[df4['PrimaryBreed'].str.contains('COLLIE - ROUGH'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('COLLIE - ROUGH'), 'PrimaryBreed'].str.replace('COLLIE - ROUGH', 'COLLIE')
df4.loc[df4['PrimaryBreed'].str.contains('COLLIE - SMOOTH'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('COLLIE - SMOOTH'), 'PrimaryBreed'].str.replace('COLLIE - SMOOTH', 'COLLIE')

In [64]:
df4.loc[df4['PrimaryBreed'].str.contains('ST BERNARD - ROUGH COATED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('ST BERNARD - ROUGH COATED'), 'PrimaryBreed'].str.replace('ST BERNARD - ROUGH COATED', 'ST BERNARD')
df4.loc[df4['PrimaryBreed'].str.contains('ST BERNARD - SMOOTH COATED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('ST BERNARD - SMOOTH COATED'), 'PrimaryBreed'].str.replace('ST BERNARD - SMOOTH COATED', 'ST BERNARD')

In [65]:
df4.loc[df4['PrimaryBreed'].str.contains('DACHSHUND - LONGHAIRED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('DACHSHUND - LONGHAIRED'), 'PrimaryBreed'].str.replace('DACHSHUND - LONGHAIRED', 'DACHSHUND')
df4.loc[df4['PrimaryBreed'].str.contains('DACHSHUND - WIREHAIRED'), 'PrimaryBreed'] = df4.loc[df4['PrimaryBreed'].str.contains('DACHSHUND - WIREHAIRED'), 'PrimaryBreed'].str.replace('DACHSHUND - WIREHAIRED', 'DACHSHUND')

In [66]:
breed_counts2 = df4['PrimaryBreed'].value_counts()
breed_counts2.head(26)

PIT BULL TERRIER                  8298
LABRADOR RETRIEVER                5080
BEAGLE                            2966
GERMAN SHEPHERD DOG               2897
CHIHUAHUA                         2146
BOXER                             1698
SHIH TZU                          1119
ROTTWEILER                        1108
BORDER COLLIE                      916
JACK RUSS TER                      915
CHOW CHOW                          909
DACHSHUND                          667
POODLE - MINIATURE                 612
YORKSHIRE TERRIER                  605
AUSTRALIAN SHEPHERD                515
SIBERIAN HUSKY                     509
POMERANIAN                         496
AMERICAN STAFFORDSHIRE TERRIER     447
COCKER SPANIEL                     439
PUG                                438
MINIATURE PINSCHER                 422
GOLDEN RETRIEVER                   417
AUSTRALIAN CATTLE DOG              376
SCHNAUZER - MINIATURE              347
AMERICAN BULLDOG                   338
COLLIE                             329
Name: PrimaryBreed, dtype: int64

In [67]:
# Taking the cleaned PrimaryBreed and taking the top 25.  Filter at 329.
# Creating a new column called TopBreed.

breed_others = set(breed_counts2[breed_counts2 < 328].index)
df4['TopBreed'] = df4['PrimaryBreed'].replace(list(breed_others), 'OTHER')

In [68]:
df4.head(10)

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex,TopBreed
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG,MALE,PIT BULL TERRIER
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG,FEMALE,BORDER COLLIE
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG,MALE,GOLDEN RETRIEVER
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY,FEMALE,LABRADOR RETRIEVER
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG,MALE,PIT BULL TERRIER
106,WHITE,ST BERNARD,FEMALE,NORMAL,HEALTHY,FERTILE,TRANSFER,3.03,5,MIX,NORMAL,BABY,FEMALE,OTHER
209,BROWN,PIT BULL TERRIER,FEMALE,AGED,TREATABLE/MANAGEABLE,FERTILE,EUTH,109.57,8,PURE,OTHER,SENIOR,FEMALE,PIT BULL TERRIER
223,BROWN,WIRE-HAIRED POINTING GRIFFON,MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,11.87,60,MIX,NORMAL,YOUNG,MALE,OTHER
227,BLACK,BEAGLE,MALE,AGGRESSIVE,UNHEALTHY/UNTREATABLE,FERTILE,EUTH,12.17,0,MIX,AGGRESSIVE,YOUNG,MALE,BEAGLE
247,BROWN BRINDLE,PLOTT HOUND,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,FOSTER,25.83,154,MIX,NORMAL,ADULT,FEMALE,OTHER

### Feature Engineering 6 - Grouping colors

In [69]:
#Yellows
df4.loc[df4['PrimaryColor'].str.contains('GOLD'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('GOLD'), 'PrimaryColor'].str.replace('GOLD', 'YELLOW')

In [70]:
#tans
df4.loc[df4['PrimaryColor'].str.contains('CHAMPAIGN'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('CHAMPAIGN'), 'PrimaryColor'].str.replace('CHAMPAIGN', 'TAN')
df4.loc[df4['PrimaryColor'].str.contains('BEIGE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BEIGE'), 'PrimaryColor'].str.replace('BEIGE', 'TAN')
df4.loc[df4['PrimaryColor'].str.contains('BLONDE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLONDE'), 'PrimaryColor'].str.replace('BLONDE', 'TAN')
df4.loc[df4['PrimaryColor'].str.contains('APRICOT'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('APRICOT'), 'PrimaryColor'].str.replace('APRICOT', 'TAN')
df4.loc[df4['PrimaryColor'].str.contains('BUFF'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BUFF'), 'PrimaryColor'].str.replace('BUFF', 'TAN')
df4.loc[df4['PrimaryColor'].str.contains('FAWN'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('FAWN'), 'PrimaryColor'].str.replace('FAWN', 'TAN')

In [71]:
#blue
df4.loc[df4['PrimaryColor'].str.contains('BLUE SMOKE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE SMOKE'), 'PrimaryColor'].str.replace('BLUE SMOKE', 'BLUE')
df4.loc[df4['PrimaryColor'].str.contains('BLUE CREAM'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE CREAM'), 'PrimaryColor'].str.replace('BLUE CREAM', 'BLUE')
df4.loc[df4['PrimaryColor'].str.contains('SILVER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('SILVER'), 'PrimaryColor'].str.replace('SILVER', 'BLUE')
df4.loc[df4['PrimaryColor'].str.contains('GRAY'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('GRAY'), 'PrimaryColor'].str.replace('GRAY', 'BLUE')

In [72]:
#brindle
df4.loc[df4['PrimaryColor'].str.contains('CREAM TIGER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('CREAM TIGER'), 'PrimaryColor'].str.replace('CREAM TIGER', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('YELLOW BRINDLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('YELLOW BRINDLE'), 'PrimaryColor'].str.replace('YELLOW BRINDLE', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BROWN TABBY'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BROWN TABBY'), 'PrimaryColor'].str.replace('BROWN TABBY', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('GRAY TIGER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('GRAY TIGER'), 'PrimaryColor'].str.replace('GRAY TIGER', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BLACK TIGER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLACK TIGER'), 'PrimaryColor'].str.replace('BLACK TIGER', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BROWN TIGER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BROWN TIGER'), 'PrimaryColor'].str.replace('BROWN TIGER', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BLUE TIGER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE TIGER'), 'PrimaryColor'].str.replace('BLUE TIGER', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BLACK BRINDLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLACK BRINDLE'), 'PrimaryColor'].str.replace('BLACK BRINDLE', 'BRINDLE')
df4.loc[df4['PrimaryColor'].str.contains('BROWN BRINDLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BROWN BRINDLE'), 'PrimaryColor'].str.replace('BROWN BRINDLE', 'BRINDLE')

In [73]:
#MERLE
df4.loc[df4['PrimaryColor'].str.contains('BLUE MERLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE MERLE'), 'PrimaryColor'].str.replace('BLUE MERLE', 'MERLE')
df4.loc[df4['PrimaryColor'].str.contains('RED MERLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('RED MERLE'), 'PrimaryColor'].str.replace('RED MERLE', 'MERLRE')
df4.loc[df4['PrimaryColor'].str.contains('BROWN MERLE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BROWN MERLE'), 'PrimaryColor'].str.replace('BROWN MERLE', 'MERLE')
df4.loc[df4['PrimaryColor'].str.contains('MERLRE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('MERLRE'), 'PrimaryColor'].str.replace('MERLRE', 'MERLE')

In [74]:
#red
df4.loc[df4['PrimaryColor'].str.contains('ORANGE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('ORANGE'), 'PrimaryColor'].str.replace('ORANGE', 'RED')
df4.loc[df4['PrimaryColor'].str.contains('RUDDY'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('RUDDY'), 'PrimaryColor'].str.replace('RUDDY', 'RED')

In [75]:
#CHOCOLATE
df4.loc[df4['PrimaryColor'].str.contains('CHOCOLATE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('CHOCOLATE'), 'PrimaryColor'].str.replace('CHOCOLATE', 'BROWN')
df4.loc[df4['PrimaryColor'].str.contains('LIVER'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('LIVER'), 'PrimaryColor'].str.replace('LIVER', 'BROWN')

In [76]:
#WHITE
df4.loc[df4['PrimaryColor'].str.contains('CREAM'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('CREAM'), 'PrimaryColor'].str.replace('CREAM', 'WHITE')

In [77]:
#TICK
df4.loc[df4['PrimaryColor'].str.contains('RED TICKED'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('RED TICKED'), 'PrimaryColor'].str.replace('RED TICKED', 'TICK')
df4.loc[df4['PrimaryColor'].str.contains('BLUE TICKED'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE TICKED'), 'PrimaryColor'].str.replace('BLUE TICKED', 'TICK')
df4.loc[df4['PrimaryColor'].str.contains('RED TICK'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('RED TICK'), 'PrimaryColor'].str.replace('RED TICK', 'TICK')
df4.loc[df4['PrimaryColor'].str.contains('BLUE TICK'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLUE TICK'), 'PrimaryColor'].str.replace('BLUE TICK', 'TICK')
df4.loc[df4['PrimaryColor'].str.contains('LIVER TICK'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('LIVER TICK'), 'PrimaryColor'].str.replace('LIVER TICK', 'TICK')
df4.loc[df4['PrimaryColor'].str.contains('BROWN TICK'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BROWN TICK'), 'PrimaryColor'].str.replace('BROWN TICK', 'TICK')

In [78]:
#BLACK
df4.loc[df4['PrimaryColor'].str.contains('BLACK SMOKE'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('BLACK SMOKE'), 'PrimaryColor'].str.replace('BLACK SMOKE', 'BLACK')

In [79]:
#SABLE
df4.loc[df4['PrimaryColor'].str.contains('AGOUTI'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('AGOUTI'), 'PrimaryColor'].str.replace('AGOUTI', 'SABLE')

In [80]:
#TRICOLOR
df4.loc[df4['PrimaryColor'].str.contains('CALICO'), 'PrimaryColor'] = df4.loc[df4['PrimaryColor'].str.contains('CALICO'), 'PrimaryColor'].str.replace('CALICO', 'TRICOLOR')

In [81]:
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex,TopBreed
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG,MALE,PIT BULL TERRIER
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG,FEMALE,BORDER COLLIE
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG,MALE,GOLDEN RETRIEVER
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY,FEMALE,LABRADOR RETRIEVER
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG,MALE,PIT BULL TERRIER

## Changing to Binary Outcome - Take the dog or Don't take the dog?
* Positive Outcome is Adoption - Take in the dog
* Negative Outcome is a combination of Transfer, Euthanized and Death categories - Don't take in the dog

In [82]:
# Create new BINARY_OUTCOME column and set to 0/No/Deny

df4["BinaryOutcome"]="DENY"
df4.head()

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex,TopBreed,BinaryOutcome
4,WHITE,PIT BULL TERRIER,MALE,NORMAL,HEALTHY,FERTILE,EUTH,12.17,29,PURE,NORMAL,YOUNG,MALE,PIT BULL TERRIER,DENY
51,BLACK,BORDER COLLIE,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,10.17,108,MIX,NORMAL,YOUNG,FEMALE,BORDER COLLIE,DENY
69,TAN,GOLDEN RETRIEVER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,ADOPTION,23.43,56,MIX,NORMAL,YOUNG,MALE,GOLDEN RETRIEVER,DENY
99,WHITE,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,ALTERED,ADOPTION,0.17,183,PURE,NORMAL,BABY,FEMALE,LABRADOR RETRIEVER,DENY
103,BLACK,PIT BULL TERRIER,MALE,SICK,HEALTHY,FERTILE,EUTH,11.90,0,PURE,SICK,YOUNG,MALE,PIT BULL TERRIER,DENY

In [83]:
# Find rows containing word "Adoption" and set to 1 (for Positive Outcome)
# All other rows will be 0 (for Negative Outcome)

df4.loc[df4["OutcomeType"].str.contains("ADOPTION"), "BinaryOutcome"] = "TAKE"

In [84]:
df4.tail(10)

,PrimaryColor,PrimaryBreed,Gender,IntakeInternalStatus,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeType,AgeInMonths,DurationInShelter,BreedCategory,IntakeStatus,PetAgeCategory,Sex,TopBreed,BinaryOutcome
150826,BLACK,BORDER COLLIE,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,12.17,15,MIX,NORMAL,YOUNG,MALE,BORDER COLLIE,TAKE
150828,BROWN,PIT BULL TERRIER,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,12.20,52,TWO,NORMAL,YOUNG,MALE,PIT BULL TERRIER,TAKE
150830,BROWN,DACHSHUND,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,56.57,-123,TWO,NORMAL,ADULT,FEMALE,DACHSHUND,TAKE
150831,WHITE,WEST HIGHLAND WHITE TERRIER,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,TRANSFER,73.07,-137,PURE,NORMAL,ADULT,MALE,OTHER,DENY
150832,BLACK,LABRADOR RETRIEVER,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,3.27,0,TWO,NORMAL,BABY,FEMALE,LABRADOR RETRIEVER,TAKE
150835,TAN,DANDIE DINMONT TERRIER,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,109,MIX,NORMAL,ADULT,MALE,OTHER,TAKE
150836,BLACK,DACHSHUND,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,36.53,71,PURE,NORMAL,ADULT,FEMALE,DACHSHUND,TAKE
150837,BRINDLE,GREYHOUND,NEUTERED MALE,NORMAL,HEALTHY,FERTILE,ADOPTION,24.13,140,MIX,NORMAL,ADULT,MALE,OTHER,TAKE
150838,WHITE,CAIRN TERRIER,SPAYED FEMALE,NORMAL,HEALTHY,FERTILE,ADOPTION,7.07,7,PURE,NORMAL,YOUNG,FEMALE,OTHER,TAKE
150839,BLACK,MINIATURE PINSCHER,NEUTERED MALE,NORMAL,HEALTHY,ALTERED,TRANSFER,51.30,8,PURE,NORMAL,ADULT,MALE,MINIATURE PINSCHER,DENY

## Final check before get_dummies

In [85]:
df4.columns

Index(['PrimaryColor', 'PrimaryBreed', 'Gender', 'IntakeInternalStatus',
       'IntakeAsilomarStatus', 'ReproductiveStatusAtIntake', 'OutcomeType',
       'AgeInMonths', 'DurationInShelter', 'BreedCategory', 'IntakeStatus',
       'PetAgeCategory', 'Sex', 'TopBreed', 'BinaryOutcome'],
      dtype='object')

In [86]:
# Final dropping of duplicated columns
df5 = df4.drop(columns=['PrimaryBreed','Gender', 'IntakeInternalStatus',
                        'IntakeAsilomarStatus','ReproductiveStatusAtIntake','OutcomeType',
                        'AgeInMonths','DurationInShelter'])

In [90]:
# Drop more NULL Values
df5.head()
df5.isnull().sum()
df5 = df5.dropna(axis=0, subset=["PetAgeCategory"])
df5.isnull().sum()
# # df5.shape

PrimaryColor      0
BreedCategory     0
IntakeStatus      0
PetAgeCategory    0
Sex               0
TopBreed          0
BinaryOutcome     0
dtype: int64

## Spencer!!  Delete my code and start Your code here!

In [91]:
from sklearn import preprocessing 
labelEncoder = preprocessing.LabelEncoder()

In [93]:
mapping_dict ={} 
category_col = ['PrimaryColor','BreedCategory','IntakeStatus', 'PetAgeCategory', 'Sex', 'TopBreed', 'BinaryOutcome',]
for col in category_col: 
    df5[col] = labelEncoder.fit_transform(df5[col]) 
  
    le_name_mapping = dict(zip(labelEncoder.classes_, 
                        labelEncoder.transform(labelEncoder.classes_))) 
  
    mapping_dict[col]= le_name_mapping 
print(mapping_dict)

{'PrimaryColor': {'BLACK': 0, 'BLUE': 1, 'BRINDLE': 2, 'BROWN': 3, 'MERLE': 4, 'RED': 5, 'SABLE': 6, 'TAN': 7, 'TICK': 8, 'TRICOLOR': 9, 'WHITE': 10, 'YELLOW': 11}, 'BreedCategory': {0: 0, 1: 1, 2: 2}, 'IntakeStatus': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4}, 'PetAgeCategory': {0: 0, 1: 1, 2: 2, 3: 3}, 'Sex': {0: 0, 1: 1}, 'TopBreed': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26}, 'BinaryOutcome': {0: 0, 1: 1}}

In [94]:
df5.head()

,PrimaryColor,BreedCategory,IntakeStatus,PetAgeCategory,Sex,TopBreed,BinaryOutcome
4,10,1,1,3,1,18,0
51,0,0,1,3,0,5,1
69,7,0,1,3,1,13,1
99,10,1,1,1,0,15,1
103,0,1,4,3,1,18,0

In [95]:
df5.to_csv('LouisvilleCleanFinal.csv')

In [96]:
# df5.columns

In [97]:
# # ANGIE ANGIE took out petagecat - trying to see if additional 20L rows makes an improvement in the model
# df6 = pd.get_dummies(df5[['PrimaryColor',
#                           'PrimaryBreed', 
#                           'BreedCategory', 
#                           'IntakeStatus',
#                           'PetAgeCategory',
#                           'Sex',
#                           "BinaryOutcome"]], drop_first=True)

In [98]:
# df6.columns

In [99]:
# Define X and y
X = df5.drop(['BinaryOutcome'], axis="columns")
y = df5[['BinaryOutcome']]

In [100]:
X.shape

(41535, 6)

In [101]:
y.shape

(41535, 1)

## Random Forest model

In [102]:
# Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [103]:
# Import, initialize, fit and predict
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 42) 
rf_model.fit(X_train, y_train)

C:\Users\Lenovo\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [104]:
predict_y_test = rf_model.predict(X_test)

In [105]:
# Validate - run accuracy score
from sklearn import metrics
print("Accuracy score: ", metrics.accuracy_score(y_test, predict_y_test))

Accuracy score:  0.7010785824345146

## Saving model

In [106]:
import pickle

#creating and training a model
#serializing our model to a file called model.pkl
pickle.dump(rf_model, open("model.pkl","wb"))

In [ ]:
# # load the model from disk
# loaded_model = pickle.load(open(filename, 'rb'))
# result = loaded_model.score(X_test, y_test)
# print(result)