In [52]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [53]:
df = pd.read_csv("merged_clean3.csv")

In [54]:
df.head()

,CSV_Age,Day_mth_year_cat,Pet_ageMonths,Breed,Color,Outcome_Type,Fixed,Sex
0,1.0,day,0.03,Chihuahua Shorthair Mix,Tricolor,NaN,Intact,Male
1,1.0,day,0.03,Pit Bull Mix,White,NaN,Intact,Female
2,1.0,day,0.03,Pit Bull Mix,White/Black,Return_to_owner,Intact,Male
3,1.0,day,0.03,Pit Bull Mix,White/Brown Brindle,Return_to_owner,Intact,Male
4,1.0,day,0.03,Pit Bull Mix,Brown Brindle/White,Return_to_owner,Intact,Female

In [55]:
df.shape

(22139, 8)

In [56]:
# Drop rows where Outcome is null

df = df.loc[df.Outcome_Type.notna(), ["Outcome_Type", "Pet_ageMonths", "Breed", "Color", "Sex", "Fixed"]]

In [57]:
df.head()

,Outcome_Type,Pet_ageMonths,Breed,Color,Sex,Fixed
2,Return_to_owner,0.03,Pit Bull Mix,White/Black,Male,Intact
3,Return_to_owner,0.03,Pit Bull Mix,White/Brown Brindle,Male,Intact
4,Return_to_owner,0.03,Pit Bull Mix,Brown Brindle/White,Female,Intact
5,Return_to_owner,0.03,Pit Bull Mix,White/Brown Brindle,Male,Intact
6,Return_to_owner,0.03,Pit Bull Mix,White/Brown,Female,Intact

In [58]:
df.shape

(15517, 6)

In [59]:
df = pd.get_dummies(df)
df.head()

,Pet_ageMonths,Outcome_Type_Adoption,Outcome_Type_Died,Outcome_Type_Euthanasia,Outcome_Type_Return_to_owner,Outcome_Type_Transfer,Breed_Affenpinscher Mix,Breed_Afghan Hound Mix,Breed_Airedale Terrier,Breed_Airedale Terrier Mix,...,Color_Yellow Brindle/Tan,Color_Yellow Brindle/White,Color_Yellow/Black,Color_Yellow/White,Color_Yellow/Yellow,Sex_Female,Sex_Male,Fixed_Intact,Fixed_Neutered,Fixed_Spayed
2,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
5,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [62]:
df = df.drop(columns=['Sex_Female'])
df.head()

,Pet_ageMonths,Outcome_Type_Adoption,Outcome_Type_Died,Outcome_Type_Euthanasia,Outcome_Type_Return_to_owner,Outcome_Type_Transfer,Breed_Affenpinscher Mix,Breed_Afghan Hound Mix,Breed_Airedale Terrier,Breed_Airedale Terrier Mix,...,Color_Yellow Brindle/Blue,Color_Yellow Brindle/Tan,Color_Yellow Brindle/White,Color_Yellow/Black,Color_Yellow/White,Color_Yellow/Yellow,Sex_Male,Fixed_Intact,Fixed_Neutered,Fixed_Spayed
2,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [77]:
X = df.drop(['Outcome_Type_Adoption', 'Outcome_Type_Died', 'Outcome_Type_Euthanasia', 'Outcome_Type_Return_to_owner', 'Outcome_Type_Transfer'], axis="columns")
y = df[['Outcome_Type_Adoption', 'Outcome_Type_Died', 'Outcome_Type_Euthanasia', 'Outcome_Type_Return_to_owner', 'Outcome_Type_Transfer']]

In [73]:
X.shape

(15517, 1586)

In [78]:
y.shape

(15517, 5)

In [79]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [83]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 100, random_state = 10) # 195 is best
model.fit(X_train, y_train)
predict_y_test = model.predict(X_test)

In [82]:
# Validate - run accuracy score
from sklearn import metrics
print("Accuracy score: ", metrics.accuracy_score(y_test, predict_y_test)) # actual test vs new predict test

Accuracy score:  0.43530927835051547

### Use cross validation?