In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("merged_clean3.csv")

In [3]:
df.head()

,CSV_Age,Day_mth_year_cat,Pet_ageMonths,Breed,Color,Outcome_Type,Fixed,Sex
0,1.0,day,0.03,Chihuahua Shorthair Mix,Tricolor,NaN,Intact,Male
1,1.0,day,0.03,Pit Bull Mix,White,NaN,Intact,Female
2,1.0,day,0.03,Pit Bull Mix,White/Black,Return_to_owner,Intact,Male
3,1.0,day,0.03,Pit Bull Mix,White/Brown Brindle,Return_to_owner,Intact,Male
4,1.0,day,0.03,Pit Bull Mix,Brown Brindle/White,Return_to_owner,Intact,Female

In [4]:
df.shape

(22139, 8)

In [5]:
# Drop rows where Outcome is null

df = df.loc[df.Outcome_Type.notna(), ["Outcome_Type", "Pet_ageMonths", "Breed", "Color", "Sex", "Fixed"]]

In [6]:
df.head()

,Outcome_Type,Pet_ageMonths,Breed,Color,Sex,Fixed
2,Return_to_owner,0.03,Pit Bull Mix,White/Black,Male,Intact
3,Return_to_owner,0.03,Pit Bull Mix,White/Brown Brindle,Male,Intact
4,Return_to_owner,0.03,Pit Bull Mix,Brown Brindle/White,Female,Intact
5,Return_to_owner,0.03,Pit Bull Mix,White/Brown Brindle,Male,Intact
6,Return_to_owner,0.03,Pit Bull Mix,White/Brown,Female,Intact

In [7]:
df.shape

(15517, 6)

In [8]:
df = pd.get_dummies(df)
df.head()

,Pet_ageMonths,Outcome_Type_Adoption,Outcome_Type_Died,Outcome_Type_Euthanasia,Outcome_Type_Return_to_owner,Outcome_Type_Transfer,Breed_Affenpinscher Mix,Breed_Afghan Hound Mix,Breed_Airedale Terrier,Breed_Airedale Terrier Mix,...,Color_Yellow Brindle/Tan,Color_Yellow Brindle/White,Color_Yellow/Black,Color_Yellow/White,Color_Yellow/Yellow,Sex_Female,Sex_Male,Fixed_Intact,Fixed_Neutered,Fixed_Spayed
2,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
5,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [9]:
df = df.drop(columns=['Sex_Female'])
df.head()

,Pet_ageMonths,Outcome_Type_Adoption,Outcome_Type_Died,Outcome_Type_Euthanasia,Outcome_Type_Return_to_owner,Outcome_Type_Transfer,Breed_Affenpinscher Mix,Breed_Afghan Hound Mix,Breed_Airedale Terrier,Breed_Airedale Terrier Mix,...,Color_Yellow Brindle/Blue,Color_Yellow Brindle/Tan,Color_Yellow Brindle/White,Color_Yellow/Black,Color_Yellow/White,Color_Yellow/Yellow,Sex_Male,Fixed_Intact,Fixed_Neutered,Fixed_Spayed
2,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
6,0.03,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
X = df.drop(['Outcome_Type_Adoption', 'Outcome_Type_Died', 'Outcome_Type_Euthanasia', 'Outcome_Type_Return_to_owner', 'Outcome_Type_Transfer'], axis="columns")
y = df[['Outcome_Type_Adoption', 'Outcome_Type_Died', 'Outcome_Type_Euthanasia', 'Outcome_Type_Return_to_owner', 'Outcome_Type_Transfer']]

In [11]:
X.shape

(15517, 1586)

In [12]:
y.shape

(15517, 5)

### random forest

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 10) 
rf_model.fit(X_train, y_train)
predict_y_test = rf_model.predict(X_test)

In [45]:
# Validate - run accuracy score
from sklearn import metrics
print("Accuracy score: ", metrics.accuracy_score(y_test, predict_y_test)) # actual test vs new predict test

Accuracy score:  0.43943298969072164

In [16]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(rf_model, X, y, cv=10, scoring="accuracy")
print(scores)

[0.24871134 0.35889175 0.32603093 0.32152062 0.26095361 0.27706186
 0.42010309 0.40876854 0.34558349 0.32753063]

In [17]:
scores.mean()

0.329515585222703


### Logistic Regression

In [18]:
df = pd.read_csv("merged_clean3.csv")

In [19]:
df2 = df.loc[df.Outcome_Type.notna(), :]
df2.shape

(15517, 8)

In [20]:
df3 = df.loc[df.Outcome_Type.notna(), ["Outcome_Type"]]

In [21]:
df3.shape

(15517, 1)

In [22]:
df4 = df2[["Pet_ageMonths", "Breed", "Color", "Fixed", "Sex"]]

In [23]:
X = pd.get_dummies(df4)
X.shape

(15517, 1587)

In [24]:
y = df3
y.shape
print(y)

          Outcome_Type
2      Return_to_owner
3      Return_to_owner
4      Return_to_owner
5      Return_to_owner
6      Return_to_owner
...                ...
22134  Return_to_owner
22135         Adoption
22136       Euthanasia
22137  Return_to_owner
22138  Return_to_owner

[15517 rows x 1 columns]

In [25]:
 from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()

In [27]:
logReg.fit(X_train, y_train)

C:\Users\Lenovo\Anaconda3\envs\pythondata\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lenovo\Anaconda3\envs\pythondata\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
print(f"Training Data Score: {logReg.score(X_train, y_train)}")
print(f"Testing Data Score: {logReg.score(X_test, y_test)}")

Training Data Score: 0.5595943971814041
Testing Data Score: 0.5541237113402062

In [29]:
predictions = logReg.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10]}")

First 10 Predictions:   ['Adoption' 'Return_to_owner' 'Adoption' 'Adoption' 'Adoption' 'Transfer'
 'Adoption' 'Adoption' 'Adoption' 'Return_to_owner']
First 10 Actual labels:           Outcome_Type
5055          Adoption
21916         Adoption
11274  Return_to_owner
13607  Return_to_owner
5246          Adoption
222           Transfer
16871         Adoption
17372         Adoption
15191         Adoption
19447       Euthanasia

In [ ]:
 pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)