In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/test.csv")
df

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
...,...,...,...,...,...,...,...,...
11451,11452,NaN,2014-07-08 14:50:00,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
11452,11453,NaN,2014-10-21 12:57:00,Cat,Intact Female,2 weeks,Domestic Shorthair Mix,Blue
11453,11454,NaN,2014-09-29 09:00:00,Cat,Intact Female,1 year,Domestic Shorthair Mix,Calico
11454,11455,Rambo,2015-09-05 17:16:00,Dog,Neutered Male,6 years,German Shepherd Mix,Black/Tan
11455,11456,Gusto,2014-07-12 18:40:00,Dog,Intact Male,4 years,Labrador Retriever,Cream

In [3]:
df = df.query("AnimalType == 'Dog'")
df

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
5,6,Beau,2015-06-23 11:17:00,Dog,Neutered Male,3 years,Beagle Mix,Brown/White
...,...,...,...,...,...,...,...,...
11448,11449,NaN,2014-08-17 17:48:00,Dog,Spayed Female,2 months,Labrador Retriever Mix,Brown
11449,11450,Caicos,2015-07-20 14:55:00,Dog,Spayed Female,6 months,Bearded Collie Mix,Blue Merle/White
11450,11451,Cosmo,2015-11-05 17:19:00,Dog,Neutered Male,10 months,Staffordshire Mix,Tan/White
11454,11455,Rambo,2015-09-05 17:16:00,Dog,Neutered Male,6 years,German Shepherd Mix,Black/Tan
11455,11456,Gusto,2014-07-12 18:40:00,Dog,Intact Male,4 years,Labrador Retriever,Cream

In [4]:
df2 = pd.read_csv("data/train.csv")
df2

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
...,...,...,...,...,...,...,...,...,...,...
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [5]:
df2 = df2.query("AnimalType == 'Dog'")
df2

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
...,...,...,...,...,...,...,...,...,...,...
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan

In [10]:
merged = pd.concat([df,df2])
merged

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,AgeuponOutcome,AnimalID,AnimalType,Breed,Color,DateTime,ID,Name,OutcomeSubtype,OutcomeType,SexuponOutcome
0,10 months,NaN,Dog,Labrador Retriever Mix,Red/White,2015-10-12 12:15:00,1.0,Summer,NaN,NaN,Intact Female
1,2 years,NaN,Dog,German Shepherd/Siberian Husky,Black/Tan,2014-07-26 17:59:00,2.0,Cheyenne,NaN,NaN,Spayed Female
3,4 months,NaN,Dog,Collie Smooth Mix,Tricolor,2013-12-28 18:12:00,4.0,Pongo,NaN,NaN,Intact Male
4,2 years,NaN,Dog,Miniature Poodle Mix,White,2015-09-24 17:59:00,5.0,Skooter,NaN,NaN,Neutered Male
5,3 years,NaN,Dog,Beagle Mix,Brown/White,2015-06-23 11:17:00,6.0,Beau,NaN,NaN,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...
26716,2 months,A697158,Dog,Newfoundland Mix,White/Black,2015-05-02 21:04:00,NaN,Max,Offsite,Adoption,Neutered Male
26717,9 years,A519949,Dog,Bullmastiff Mix,Black,2014-06-30 17:34:00,NaN,Bella,NaN,Return_to_owner,Spayed Female
26718,2 months,A701044,Dog,Siberian Husky/German Shepherd,Black/Tricolor,2015-04-28 14:26:00,NaN,NaN,NaN,Adoption,Neutered Male
26723,6 years,A716997,Dog,Staffordshire Mix,Blue/White,2016-01-29 18:52:00,NaN,Zeus,NaN,Adoption,Neutered Male
26726,4 years,A698128,Dog,Old English Bulldog Mix,White/Tan,2015-03-09 13:33:00,NaN,Zeus,NaN,Adoption,Neutered Male

In [12]:
merged.to_csv("merged_clean.csv")

In [14]:
merged.query("Breed == 'Beagle Mix' & OutcomeType == 'Adoption'")

,AgeuponOutcome,AnimalID,AnimalType,Breed,Color,DateTime,ID,Name,OutcomeSubtype,OutcomeType,SexuponOutcome
735,1 year,A677236,Dog,Beagle Mix,Red/White,2014-04-28 15:43:00,NaN,Coco,NaN,Adoption,Spayed Female
1027,2 months,A689773,Dog,Beagle Mix,White/Orange,2014-10-10 18:32:00,NaN,Lucy,NaN,Adoption,Spayed Female
2052,2 months,A675885,Dog,Beagle Mix,Brown/White,2014-05-31 19:33:00,NaN,Evie,NaN,Adoption,Spayed Female
3254,1 year,A715163,Dog,Beagle Mix,White/Brown Brindle,2015-11-10 17:53:00,NaN,Ava,NaN,Adoption,Spayed Female
3682,2 years,A666660,Dog,Beagle Mix,Tan/White,2014-12-11 17:52:00,NaN,Dolly,NaN,Adoption,Spayed Female
4446,8 years,A683033,Dog,Beagle Mix,Brown/White,2014-07-16 18:50:00,NaN,Wilbur,NaN,Adoption,Neutered Male
4956,8 years,A692390,Dog,Beagle Mix,Black/Tan,2014-12-06 11:22:00,NaN,Charlize,NaN,Adoption,Intact Female
5104,2 months,A714383,Dog,Beagle Mix,Brown/Tan,2015-10-27 19:03:00,NaN,NaN,NaN,Adoption,Neutered Male
5640,1 month,A685397,Dog,Beagle Mix,Tricolor,2014-08-20 10:41:00,NaN,NaN,Foster,Adoption,Neutered Male
5693,3 years,A666325,Dog,Beagle Mix,Black/White,2013-11-11 11:45:00,NaN,Barnaby,NaN,Adoption,Neutered Male
7456,7 years,A691849,Dog,Beagle Mix,Tricolor,2014-11-14 12:22:00,NaN,Ollie,NaN,Adoption,Spayed Female
8228,2 months,A689774,Dog,Beagle Mix,Tan/White,2014-10-10 18:13:00,NaN,Popy Jr,NaN,Adoption,Neutered Male
9368,2 months,A675883,Dog,Beagle Mix,Chocolate/Tan,2014-04-21 18:04:00,NaN,Emma,Foster,Adoption,Spayed Female
11186,8 months,A707094,Dog,Beagle Mix,Red/Black,2015-07-13 18:43:00,NaN,Bernie,NaN,Adoption,Neutered Male
11287,3 years,A642590,Dog,Beagle Mix,Brown/White,2015-06-09 17:59:00,NaN,Zoe,NaN,Adoption,Spayed Female
11695,1 year,A693067,Dog,Beagle Mix,Tricolor,2015-02-14 18:42:00,NaN,Molly,NaN,Adoption,Spayed Female
12466,10 months,A693176,Dog,Beagle Mix,Tan/White,2014-12-07 17:06:00,NaN,Dakota,NaN,Adoption,Spayed Female
13516,2 years,A717903,Dog,Beagle Mix,Buff/Black,2015-12-29 11:37:00,NaN,Spock,NaN,Adoption,Neutered Male
13761,5 years,A693035,Dog,Beagle Mix,White/Brown,2015-03-05 17:37:00,NaN,Schmellow,NaN,Adoption,Spayed Female
14524,2 months,A675884,Dog,Beagle Mix,Black/Tan,2014-04-28 10:20:00,NaN,Elliot,Foster,Adoption,Neutered Male
16280,1 year,A671351,Dog,Beagle Mix,Red/White,2014-04-06 14:23:00,NaN,Kane,NaN,Adoption,Neutered Male
16491,2 months,A684465,Dog,Beagle Mix,Black/Tricolor,2014-07-28 17:10:00,NaN,Snoopette,NaN,Adoption,Spayed Female
17141,2 years,A675355,Dog,Beagle Mix,Tan/White,2014-03-31 18:16:00,NaN,Willa,NaN,Adoption,Spayed Female
17510,1 year,A717535,Dog,Beagle Mix,Tricolor,2015-12-15 15:31:00,NaN,Daisy,NaN,Adoption,Spayed Female
18194,2 years,A696258,Dog,Beagle Mix,Tricolor,2015-02-08 17:02:00,NaN,Beagle,NaN,Adoption,Spayed Female
19419,1 year,A694446,Dog,Beagle Mix,Red/White,2015-01-01 17:29:00,NaN,Samuel,NaN,Adoption,Neutered Male
20065,10 years,A621164,Dog,Beagle Mix,White/Brown,2014-08-23 15:58:00,NaN,Gigi,NaN,Adoption,Spayed Female
20462,2 years,A705511,Dog,Beagle Mix,Tricolor,2015-06-22 17:02:00,NaN,Stella,NaN,Adoption,Spayed Female
20518,2 years,A719931,Dog,Beagle Mix,Tan/Black,2016-02-05 17:03:00,NaN,NaN,NaN,Adoption,Neutered Male
20627,1 year,A640132,Dog,Beagle Mix,Black/White,2013-11-08 12:08:00,NaN,Pepper,NaN,Adoption,Neutered Male
21065,5 months,A719092,Dog,Beagle Mix,Tan/White,2016-01-17 13:13:00,NaN,Amos,NaN,Adoption,Neutered Male
21113,2 months,A688818,Dog,Beagle Mix,Tricolor,2014-09-28 18:38:00,NaN,NaN,NaN,Adoption,Neutered Male
21326,2 years,A677358,Dog,Beagle Mix,Black/White,2014-04-30 18:29:00,NaN,Chase,NaN,Adoption,Neutered Male
21446,6 months,A675874,Dog,Beagle Mix,Tricolor,2014-04-07 18:37:00,NaN,NaN,NaN,Adoption,Neutered Male
21474,2 months,A713123,Dog,Beagle Mix,Brown/White,2015-10-06 17:04:00,NaN,Marie,NaN,Adoption,Spayed Female
23158,5 months,A664154,Dog,Beagle Mix,Red/White,2013-10-05 17:02:00,NaN,NaN,NaN,Adoption,Spayed Female
24192,2 years,A692835,Dog,Beagle Mix,Black Brindle/White,2015-05-05 19:21:00,NaN,Dana,NaN,Adoption,Spayed Female
24326,7 years,A679869,Dog,Beagle Mix,Black/Tan,2014-06-20 13:46:00,NaN,Edith,NaN,Adoption,Spayed Female
24429,1 year,A697145,Dog,Beagle Mix,Tricolor,2015-02-23 18:14:00,NaN,NaN,NaN,Adoption,Spayed Female
25288,3 years,A688807,Dog,Beagle Mix,Tan/White,2014-09-28 18:04:00,NaN,NaN,NaN,Adoption,Neutered Male
25894,3 years,A693656,Dog,Beagle Mix,Tricolor,2014-12-30 16:19:00,NaN,Rosie,NaN,Adoption,Spayed Female
26521,10 years,A683034,Dog,Beagle Mix,Tricolor,2014-12-14 11:40:00,NaN,Gertie,Foster,Adoption,Spayed Female